h2 {
  font-family: Air Americana;
  color: red;
  font-size: 40px; }

h1 {
  font-family: Air Americana;
  font-size: 50px; }

* {
  margin: 0%;
  padding: 0%; }

p {
  margin: 0%;
  padding: 0%; }

.grilla_home {
  display: grid; }

header {
  display: grid;
  background-color: black;
  border-bottom: 10px solid white; }

.nombre_boton_nav {
  text-decoration: none;
  color: red; }

.boton_logo {
  display: flex; }

.home_main {
  display: grid; }

img {
  object-fit: cover; }

footer {
  display: grid;
  background-color: black;
  border-top: 10px solid white; }

.home_carta {
  display: grid; }

.home_contactenos {
  display: flex; }

.home_tienda {
  display: grid; }

.tienda {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center; }

.home_nosotros {
  display: flex; }

.nosotros_uno {
  display: flex; }

ul {
  margin: 0%;
  padding: 0%; }

@media only screen and (max-width: 600px) {
  header {
    height: 200px;
    width: 100%; }
  footer {
    height: 300px;
    width: 100%; } }

@media only screen and (min-width: 600px) {
  header {
    height: 200px;
    width: 100%; }
  footer {
    height: 250px;
    width: 100%; } }

@font-face {
  font-family: 'Air Americana';
  src: url("../styles/Air Americana.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'lora';
  src: url("../styles/Lora-Italic-VariableFont_wght.ttf") format("truetype"); }

@media only screen and (max-width: 600px) {
  .grilla_home {
    grid-template-rows: 200px 3000px 300px;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main" "footer"; }
  header {
    grid-template-rows: 70% 20%;
    grid-template-columns: 100%;
    grid-template-areas: "logo"  "nav";
    align-content: center;
    justify-content: space-around;
    padding: 0%;
    margin: 0%; }
    header .boton_logo {
      align-items: center; }
      header .boton_logo .logo_home {
        position: relative;
        height: 90%; }
      header .boton_logo img {
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: contain; }
    header nav .botones_nav {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      padding: 0%;
      list-style: none; }
    header nav a {
      position: relative;
      list-style-type: none;
      padding: 7px;
      font-family: 'Air Americana';
      font-size: 20px; }
      header nav a:hover {
        border: solid 1px;
        color: red; }
  .home_main {
    background-color: black;
    grid-template-rows: 5% 10% 5% 10% 10% 10% 10% 10% 10%;
    grid-template-columns: 80%;
    grid-template-areas: "homemain1"  "homemain2" "homemain3" "homemain4"  "homemain5"  "homemain6" "homemain7"  "homemain8"  "homemain9";
    align-content: space-evenly;
    justify-content: space-around; }
    .home_main img {
      height: 100%;
      width: 100%;
      object-fit: contain; }
    .home_main .parrafo_home_600max, .home_main .parrafo_uno_home_main, .home_main .parrafo_dos_home_main {
      background-color: black;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center; }
    .home_main .parrafo_uno_home_main {
      grid-area: homemain1; }
    .home_main .parrafos_home_main {
      font-family: Air Americana;
      color: white;
      font-size: 20px;
      text-align: center; }
    .home_main .img_gato {
      grid-area: homemain2; }
    .home_main .parrafo_dos_home_main {
      grid-area: homemain3; }
    .home_main .img_what {
      grid-area: homemain4; }
    .home_main .img_the {
      grid-area: homemain5; }
    .home_main .img_fack {
      grid-area: homemain6; }
    .home_main .img_plato {
      grid-area: homemain7; }
    .home_main .img_sushi {
      grid-area: homemain8; }
    .home_main .img_platodos {
      grid-area: homemain9; }
  footer {
    grid-area: footer;
    grid-template-rows: 30% 10% 10% 10%;
    grid-template-columns: 90%;
    grid-template-areas: "logo" "botones" "informcion" "redes";
    align-content: space-evenly;
    justify-content: space-evenly; }
    footer .logo_footer img {
      height: 100%;
      width: 100%;
      object-fit: contain; }
    footer .contener_lista_footer {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      padding: 0%;
      margin: 0%; }
      footer .contener_lista_footer .lista_footer {
        list-style-type: none;
        font-family: 'Air Americana';
        font-size: 20px;
        padding: 3%; }
    footer .info_footer {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;
      font-size: 12px;
      color: white;
      font-family: 'lora'; }
    footer .redes_footer {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      margin: 0% 20% 0% 20%; }
  .home_carta {
    height: 500px;
    background-color: black;
    grid-template-columns: 80%;
    grid-template-rows: 80%;
    grid-template-areas: "homecarta1";
    align-content: space-around;
    justify-content: space-around;
    padding: 0% 10% 0% 10%; }
    .home_carta .img_carta {
      width: 75%;
      margin-left: 13%; }
  .home_contactenos {
    background-color: black;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around; }
    .home_contactenos .formulario .titulo_contaco {
      color: white;
      margin: 5% 0% 5% 10%; }
    .home_contactenos .formulario .contacto {
      margin: 5% 0% 5% 10%; }
    .home_contactenos .formulario .lista_contacto {
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      list-style: none; }
  .home_tienda {
    background-color: black;
    height: 9000px;
    grid-template-columns: 90%;
    grid-template-rows: 0,5% 3% 3% 3% 3% 3% 3% 0,5% 3% 0,5% 3% 3% 3% 0,5% 3% 3% 3% 3% 3% 3% 0,5% 3% 3% 3% 3% 0,5% 3% 3% 3%;
    grid-template-areas: "hometienda1"  "hometienda2" "hometienda3" "hometienda4" "hometienda5" "hometienda6" "hometienda7" "hometienda8" "hometienda9" "hometienda10"  "hometienda11"  "hometienda12" "hometienda13"  "hometienda14"  "hometienda15" "hometienda16"  "hometienda17"  "hometienda18" "hometienda19"  "hometienda20" "hometienda21" "hometienda22"  "hometienda23"  "hometienda24" "hometienda25"  "hometienda26"  "hometienda27" "hometienda28"  "hometienda29";
    align-content: space-around;
    justify-content: space-around; }
    .home_tienda .titulo_plato {
      font-family: Air Americana;
      color: white;
      font-size: 20px;
      margin: 0%;
      padding: 0%; }
    .home_tienda .parrafo_plato {
      color: white;
      font-size: 15px;
      text-align: center;
      font-style: italic; }
    .home_tienda .btn_plato:hover {
      width: 50%;
      background-color: red; }
    .home_tienda .img_tienda {
      height: 50%;
      width: 50%;
      object-fit: contain; }
    .home_tienda .titulo_entradas {
      text-align: center;
      grid-area: hometienda1; }
    .home_tienda .plato-uno {
      grid-area: hometienda2; }
    .home_tienda .plato-dos {
      grid-area: hometienda3; }
    .home_tienda .plato-tres {
      grid-area: hometienda4; }
    .home_tienda .plato-cuatro {
      grid-area: hometienda5; }
    .home_tienda .plato-cinco {
      grid-area: hometienda6; }
    .home_tienda .plato-seis {
      grid-area: hometienda7; }
    .home_tienda .titulo_ensalada {
      text-align: center;
      grid-area: hometienda8; }
    .home_tienda .plato-siete {
      grid-area: hometienda9; }
    .home_tienda .titulo_pokebowls {
      text-align: center;
      grid-area: hometienda10; }
    .home_tienda .plato-ocho {
      grid-area: hometienda11; }
    .home_tienda .plato-nueve {
      grid-area: hometienda12; }
    .home_tienda .plato-diez {
      grid-area: hometienda13; }
    .home_tienda .titulo_sushirolls {
      text-align: center;
      grid-area: hometienda14; }
    .home_tienda .plato-once {
      grid-area: hometienda15; }
    .home_tienda .plato-doce {
      grid-area: hometienda16; }
    .home_tienda .plato-trece {
      grid-area: hometienda17; }
    .home_tienda .plato-catorce {
      grid-area: hometienda18; }
    .home_tienda .plato-quince {
      grid-area: hometienda19; }
    .home_tienda .plato-dieciseis {
      grid-area: hometienda20; }
    .home_tienda .titulo_hotrolls {
      text-align: center;
      grid-area: hometienda21; }
    .home_tienda .plato-diecisiete {
      grid-area: hometienda22; }
    .home_tienda .plato-dieciocho {
      grid-area: hometienda23; }
    .home_tienda .plato-diecinueve {
      grid-area: hometienda24; }
    .home_tienda .plato-veinte {
      grid-area: hometienda25; }
    .home_tienda .titulo_hollywoks {
      text-align: center;
      grid-area: hometienda26; }
    .home_tienda .plato-veintiuno {
      grid-area: hometienda27; }
    .home_tienda .plato-veintidos {
      grid-area: hometienda28; }
    .home_tienda .plato-veintitres {
      grid-area: hometienda29; }
  .home_nosotros {
    background-color: black;
    height: 700px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-around;
    justify-content: space-around; }
    .home_nosotros .titulo_nosotros {
      color: white;
      margin: 5%; }
    .home_nosotros .parrafo_nos1 {
      color: white;
      margin: 5%;
      text-align: center;
      font-style: italic;
      font-size: 15px; }
    .home_nosotros .img_nos1 {
      height: 90%;
      width: 90%;
      object-fit: contain; } }

@media only screen and (min-width: 600px) {
  .grilla_home {
    grid-template-rows: 200px 1500px 250px;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main" "footer"; }
  header {
    grid-template-columns: 20% 70%;
    grid-template-rows: 100%;
    grid-template-areas: "logo nav";
    align-content: center;
    justify-content: space-evenly; }
    header .boton_logo {
      align-content: center;
      justify-content: center; }
      header .boton_logo .logo_home {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 5%; }
      header .boton_logo img {
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: contain; }
    header nav .botones_nav {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center; }
    header nav .lista_nav {
      position: relative;
      list-style-type: none;
      margin: 10px;
      padding: 0% 1% 0% 1%;
      font-family: 'Air Americana';
      font-size: 35px; }
      header nav .lista_nav:hover {
        border: solid 1px;
        color: red; }
      header nav .lista_nav .nombre_boton_nav {
        text-decoration: none;
        color: red; }
  .home_main {
    background-color: black;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 25% 25% 25%;
    grid-template-areas: "homemain1 homemain2 homemain3" "homemain4 homemain5 homemain6" "homemain7 homemain8 homemain9";
    align-content: space-around;
    justify-content: space-evenly; }
    .home_main img {
      height: 100%;
      width: 100%;
      object-fit: contain; }
    .home_main .parrafo_home_600min, .home_main .parrafo_uno_home_main, .home_main .parrafo_dos_home_main {
      background-color: black;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center; }
    .home_main .parrafo_uno_home_main {
      grid-area: homemain1; }
    .home_main .parrafos_home_main {
      font-family: Air Americana;
      color: white;
      font-size: 20px;
      text-align: center; }
    .home_main .img_gato {
      grid-area: homemain2; }
    .home_main .parrafo_dos_home_main {
      grid-area: homemain3; }
    .home_main .img_what {
      grid-area: homemain4; }
    .home_main .img_the {
      grid-area: homemain5; }
    .home_main .img_fack {
      grid-area: homemain6; }
    .home_main .img_plato {
      grid-area: homemain7; }
    .home_main .img_sushi {
      grid-area: homemain8; }
    .home_main .img_platodos {
      grid-area: homemain9; }
  footer {
    grid-area: footer;
    grid-template-rows: 25% 10% 20% 20%;
    grid-template-columns: 90%;
    grid-template-areas: "logo" "botones" "informcion" "redes";
    align-content: space-evenly;
    justify-content: space-evenly; }
    footer .logo_footer img {
      height: 100%;
      width: 100%;
      object-fit: contain; }
    footer .contener_lista_footer {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      padding: 0%;
      margin: 0%; }
      footer .contener_lista_footer .lista_footer {
        list-style-type: none;
        font-family: 'Air Americana';
        font-size: 20px;
        padding: 3%; }
    footer .info_footer {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;
      font-size: 15px;
      color: white;
      font-family: 'lora'; }
    footer .redes_footer {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      margin: 0% 35% 0% 35%; }
  .home_carta {
    height: 1000px;
    background-color: black;
    grid-template-columns: 80%;
    grid-template-rows: 80%;
    grid-template-areas: "homecarta1";
    align-content: space-around;
    justify-content: space-around;
    padding: 0% 10% 0% 10%; }
    .home_carta .img_carta {
      height: 50%;
      width: 60%;
      margin-left: 20%; }
  .home_contactenos {
    background-color: black;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around; }
    .home_contactenos .formulario .titulo_contaco {
      color: white;
      margin: 5% 0% 5% 10%; }
    .home_contactenos .formulario .contacto {
      margin: 5% 0% 5% 10%; }
    .home_contactenos .formulario .lista_contacto {
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      list-style: none; }
  .home_tienda {
    background-color: black;
    height: 3700px;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1% 10% 10% 1% 10% 1% 10% 1% 10% 10% 1% 10% 10% 1% 10%;
    grid-template-areas: "hometienda1 hometienda2 hometienda3" "hometienda4 hometienda5 hometienda6" "hometienda7 hometienda8 hometienda9" "hometienda10 hometienda11 hometienda12" "hometienda13 hometienda14 hometienda15" "hometienda16 hometienda17 hometienda18" "hometienda19 hometienda20 hometienda21" "hometienda22 hometienda23 hometienda24" "hometienda25 hometienda26 hometienda27" "hometienda28 hometienda29 hometienda30" "hometienda31 hometienda32 hometienda33" "hometienda34 hometienda35 hometienda36" "hometienda37 hometienda38 hometienda39" "hometienda40 hometienda41 hometienda42" "hometienda43 hometienda44 hometienda45";
    align-content: space-around;
    justify-content: space-around; }
    .home_tienda .titulo_entradas {
      text-align: center;
      grid-area: hometienda2; }
    .home_tienda .titulo_plato {
      font-family: Air Americana;
      color: white;
      font-size: 20px;
      margin: 0%;
      padding: 0%; }
    .home_tienda .parrafo_plato {
      color: white;
      font-size: 15px;
      text-align: center;
      font-style: italic; }
    .home_tienda .btn_plato:hover {
      width: 50%;
      background-color: red; }
    .home_tienda .img_tienda {
      height: 50%;
      width: 50%;
      object-fit: contain; }
    .home_tienda .plato-uno {
      grid-area: hometienda4; }
    .home_tienda .plato-dos {
      grid-area: hometienda5; }
    .home_tienda .plato-tres {
      grid-area: hometienda6; }
    .home_tienda .plato-cuatro {
      grid-area: hometienda7; }
    .home_tienda .plato-cinco {
      grid-area: hometienda8; }
    .home_tienda .plato-seis {
      grid-area: hometienda9; }
    .home_tienda .titulo_ensalada {
      text-align: center;
      grid-area: hometienda11; }
    .home_tienda .plato-siete {
      grid-area: hometienda14; }
    .home_tienda .titulo_pokebowls {
      text-align: center;
      grid-area: hometienda17; }
    .home_tienda .plato-ocho {
      grid-area: hometienda19; }
    .home_tienda .plato-nueve {
      grid-area: hometienda20; }
    .home_tienda .plato-diez {
      grid-area: hometienda21; }
    .home_tienda .titulo_sushirolls {
      text-align: center;
      grid-area: hometienda23; }
    .home_tienda .plato-once {
      grid-area: hometienda25; }
    .home_tienda .plato-doce {
      grid-area: hometienda26; }
    .home_tienda .plato-trece {
      grid-area: hometienda27; }
    .home_tienda .plato-catorce {
      grid-area: hometienda28; }
    .home_tienda .plato-quince {
      grid-area: hometienda29; }
    .home_tienda .plato-dieciseis {
      grid-area: hometienda30; }
    .home_tienda .titulo_hotrolls {
      text-align: center;
      grid-area: hometienda32; }
    .home_tienda .plato-diecisiete {
      grid-area: hometienda34; }
    .home_tienda .plato-dieciocho {
      grid-area: hometienda36; }
    .home_tienda .plato-diecinueve {
      grid-area: hometienda37; }
    .home_tienda .plato-veinte {
      grid-area: hometienda39; }
    .home_tienda .titulo_hollywoks {
      text-align: center;
      grid-area: hometienda41; }
    .home_tienda .plato-veintiuno {
      grid-area: hometienda43; }
    .home_tienda .plato-veintidos {
      grid-area: hometienda44; }
    .home_tienda .plato-veintitres {
      grid-area: hometienda45; }
  .home_nosotros {
    background-color: black;
    height: 1000px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-around;
    justify-content: space-around; }
    .home_nosotros .titulo_nosotros {
      color: white;
      padding: 3%; }
    .home_nosotros .parrafo_nos1 {
      color: white;
      margin: 5%;
      text-align: center;
      font-style: italic;
      font-size: 20px; }
    .home_nosotros .img_nos1 {
      height: 80%;
      width: 80%;
      object-fit: contain; } }
