@font-face {
    font-family: 'Air Americana';
    src: url('../styles/Air\ Americana.ttf') format('truetype');
    font-style: normal;        
}

@font-face {
    font-family:'lora' ;
    src: url('../styles/Lora-Italic-VariableFont_wght.ttf') format('truetype');
    
}

